# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Contacts (Java)/*
!/Contacts (Java)/task/
/Contacts (Java)/task/*
!/Contacts (Java)/task/src

# Project exclude paths
/Topics/Abstract factory/Burgers/out/
/Topics/Abstract factory/Burgers/out/production/classes/
/Topics/Abstract factory/Phone factory/out/
/Topics/Abstract factory/Phone factory/out/production/classes/
/Topics/Builder/Builder (1)/out/
/Topics/Builder/Builder (1)/out/production/classes/
/Topics/Builder/Robot Builder/out/
/Topics/Builder/Robot Builder/out/production/classes/
/Topics/Builder/Subway Sandwich/out/
/Topics/Builder/Subway Sandwich/out/production/classes/
/Topics/Decorator/Breakfast Decorator/out/
/Topics/Decorator/Breakfast Decorator/out/production/classes/
/Topics/Decorator/Coffee Decorator/out/
/Topics/Decorator/Coffee Decorator/out/production/classes/
/Topics/Decorator/Pizza Decorator/out/
/Topics/Decorator/Pizza Decorator/out/production/classes/
/Topics/Match results/Check the essay/out/
/Topics/Match results/Check the essay/out/production/classes/
/Topics/Match results/Extracting big numbers from a text/out/
/Topics/Match results/Extracting big numbers from a text/out/production/classes/
/Topics/Match results/Extracting words from a text/out/
/Topics/Match results/Extracting words from a text/out/production/classes/
/Topics/Match results/Find all passwords/out/
/Topics/Match results/Find all passwords/out/production/classes/
/Topics/Patterns and Matcher/Find a word with a given length/out/
/Topics/Patterns and Matcher/Find a word with a given length/out/production/classes/
/Topics/Patterns and Matcher/In the middle of a word/out/
/Topics/Patterns and Matcher/In the middle of a word/out/production/classes/
/Topics/Patterns and Matcher/Number parsing/out/
/Topics/Patterns and Matcher/Number parsing/out/production/classes/
/Topics/Patterns and Matcher/Start or end of a word/out/
/Topics/Patterns and Matcher/Start or end of a word/out/production/classes/
/Topics/Regexes in programs/Card name validation and identification/out/
/Topics/Regexes in programs/Card name validation and identification/out/production/classes/
/Topics/Regexes in programs/Check the clock time/out/
/Topics/Regexes in programs/Check the clock time/out/production/classes/
/Topics/Regexes in programs/Check the date/out/
/Topics/Regexes in programs/Check the date/out/production/classes/
/Topics/Regexes in programs/Illegal identifiers/out/
/Topics/Regexes in programs/Illegal identifiers/out/production/classes/
/Topics/Regexes in programs/Safe password/out/
/Topics/Regexes in programs/Safe password/out/production/classes/
/Topics/Regexes in programs/Theory/out/
/Topics/Regexes in programs/Theory/out/production/classes/
/Topics/Regexes in programs/Vehicle registration number/out/
/Topics/Regexes in programs/Vehicle registration number/out/production/classes/